<div class="container guide">
  <h1>Ultrawide Monitor Buying Guide</h1>
  <p>When looking into buying a new monitor there are certain specifications you may want to look at and ultrawide monitors are no exception. Some things are more important to specific
    users such as response time and refresh rate and others are immediately noticeable to everyone like resolution and aspect ratio.</p>

  <p>The most basic and noticeable attributes to any monitor are the resolution, size and aspect ratio. Since this is focusing on ultrawide monitors we will assume the aspect ratio
    is 21:9 which compared to the standard 16:9 offers more pixels for immersion when gaming and added productivity as seen in following image.
    <figure><%= image_tag("18.jpg", :alt => "productivity") %><figcaption>three is better than two!</figcaption></figure>
  </p>

    <p>Currently there are two main options
    for resolutions of a ultrawide monitor they are 2560x1080 or 3440x1440. You can see by the ending numbers that these are the same resolutions as the standard 1920x1080 and 2560x1440
    just with added pixels going horizontally to fill the aspect ratio.
    <figure><%= image_tag("screen.jpg", :alt => "resolution comparison") %><figcaption>note the amount of added pixels though each resolution</figcaption></figure>
    </p>

    <p>Although the image above shows these resolutions in a different aspect ratio the premise is still the same,
    it’s a good comparison of the number of pixels between the two resolutions. More pixels again means more productivity and sharper images for every task.  One thing to note is that
    the more pixels your monitor has the harder your computer has to work to display all of them. It should be ok if you don’t plan on running any graphics intensive programs or games
    but don’t plan on running any AAA titles using Intel integrated graphics, you’ll need a dedicated graphics card from Nvidia or AMD for that! The other obvious thing to look at is
    the size and this is a little different with ultrawide monitors, the three most frequent sizes are 25’’, 29’’ and 34’’. What makes ultrawide displays different is size the screen is
    wider so, a 25’’ ultrawide is actually shorter than a 21’’ standard display, as seen in the picture below where the blue is a 21’’ standard display and the green is a 25’’ ultrawide
    display.
    <figure><%= image_tag("screens.png", :alt => "16:9 vs 21:9 comparison") %><figcaption>blue represents a 21 inch standerd display, green a 25 inch ultrawide</figcaption></figure>
     </p>

    <p>So, when looking at sizes a 34’’ might sound large but it has almost the exact same height as a 27’’ 16:9 monitor. A good resource to compare these things is at
    <%= link_to "DisplayWars.com", "http://www.displaywars.com/" %> check them out. Unlike resolution and aspect ratio the size of the monitor has no effect on how hard it is on your computer to run since it’s just
     the same number of pixels just spaced out farther apart. Generally, it is not necessary to have a 3440 resolution for a 25’’ ultrawide since the size is small enough that even
     with the less number of pixels 1080 should look great. Likewise, a 34’’ display should have a 3440 resolution since due to the greater size the number of pixels of 2560x1080 will
     be more noticeable. </p>

  <p>Next thing to look at is the panel type. There are three main types which are</p>
    <ul>
      <li>TN</li>
      <li>VA</li>
      <li>IPS</li>
   </ul>
    <p>The most widely used in monitors is TN they are the cheapest to produce but have the least accurate color reproduction. This may be ok for you but if you need really accurate colors
    such as a graphic designer you may want to look elsewhere, these panels also have pretty bad viewing angles meaning that if you look at the screen from an angle especially top or bottom
    the colors will look washed out and the image will lose its sharpness. But TN panels are usually the fastest panels frequently offering 144Hz which effects we will cover later on. Next is
    VA frequently thought of the middle ground between TN and IPS, they offer better colors than TN with darker blacks and better viewing angles but typically at a slower speed. Finally,
    is IPS, they offer the best in color reproduction and excellent viewing angles but are generally slower around 60Hz and more expensive. TN panels are less used in ultrawides since the
    21:9 screen is longer than average 16:9 so the user will likely be looking at the edges from an angle and so the bad viewing angles of a TN panel would be more prevalent.</p>
    <figure><%= image_tag("panels.jpg", :alt => "VA vs TN vs IPS") %> <figcaption>Credit to reddit user RampageIV (<%= link_to "source", "https://www.reddit.com/r/pcmasterrace/comments/43f7uu/comparison_between_va_vs_ips_vs_tn_color_and//" %>)</figcaption></figure>

  	<p>Now to the more nitty and gritty specifications, refresh rate and response time. These are things that may not affect you or things that may totally influence your choice it all
      depends on the type of user you are.  First is refresh rate which we talked a little bit about above when talking about panel speed, basically it means how many times the monitor
      updates its image in a second. So, a 59Hz monitor can change its image 59 times a second and a 144Hz monitor 144 times. This is a simplified look at it but unless you are planning
      on getting over 60 fps in games you should be ok with a monitor with 59 or 60Hz. If you do want to get over 60fps while gaming you will need a monitor with a faster refresh rate,
      you may have a pc that can run a game at 144 frames but if you have a 60Hz monitor you are only running it at 60 frames. On to response time, similarly like refresh rate you
      probably don’t need to worry about this unless you care about it when gaming. In normal use, you won’t be able to notice a different between 20ms and 2ms. In gaming, some people
      prefer a lower time but it’s all personal opinion, some say 16ms is fine but others prefer 5ms or less. If for gaming, you need a suggestion I would say 8ms or less is fine but
      obviously lower is better.</p>
      <figure><%= image_tag("random.jpg", :alt => "16:9 and 21:9") %><figcaption>another comparison between 21:9 and 16:9</figcaption></figure>

  	<p>There are a couple of other things to consider when looking at a monitor such as the ports, the stand, if its curved, if it has speakers and if it has G/Free Sync. The ports can be
      very important depending on your setup, make sure you don’t get a monitor thinking it has HDMI and it only has a DisplayPort also make sure your computer has the corresponding ports
      or be prepared to pick up some adapters such and HDMI to mini-DisplayPort. You may also be interested in a monitor with USB port(s) up and or downstream. The stand can also be a big
      factor, some monitors have a stand with one or two fixed positions that can only be switch to using a screw driver while others swivel, tilt and have wide height adjustments all
      on the fly. Also, remember a lot of monitors don’t have speakers. Another thing you will run into when browsing ultrawides are curved monitors. The price is higher on these
      displays but they offer a nice slight curve inward on the monitor. It is more noticeable on a ultrawides since the display is naturally longer being 21:9 and also being a computer
      monitor that you sit more close to it makes the curve more beneficial than on say a television across the room. But the curve is definitely a personal opinion as well. One last
      thing to think about is do you want a monitor with G Sync or Free Sync. Only gamers should be consider this option since it adds to the price and offers no benefit outside of
      gaming. These options are for specific Nvidia and AMD graphics cards, G Sync being for Nvidia and Free Sync for AMD, it is a more efficient form of v-sync which in short is
      designed to stop screen tearing when the monitor can’t keep up with the graphics card. How it’s better than v-sync is that with g/free sync when the graphics card is slower
      than the monitor there is still always 1 solid frame on the display but in v-sync this cause problems and results in stuttering images. More information can be seen in the video
      below.
    </p>
     <iframe width="555" height="335"
        src="https://www.youtube.com/embed/5Ey-KObDABI">
     </iframe>
  <p>Hopefully this helped you a little, here are a couple places to go to look for monitors and deals.</p>
  <ul>
    <li><%= link_to "Amazon", "https://www.amazon.com/Best-Sellers-Electronics-Computer-Monitors/zgbs/electronics/1292115011" %></li>
    <li><%= link_to "newegg", "https://www.newegg.com/Monitors/Category/ID-19" %></li>
    <li><%= link_to "MonitorMatchUp", "http://www.monitormatchup.com/" %></li>
    <li><%= link_to "reddit deals (click monitor on right under product search)", "https://www.reddit.com/r/buildapcsales/" %></li>
  </ul>


</div>
