<meta name="description" content="A Site to Find UltraWide 3440x1440,2560x1080 21:9 Wallpapers. Also Sort by Color or by Diffrent Tags! All images are HD and 21:9 aspect ratio.">
<div id="home_1">
  <h1 id="home_h1">Browse 21:9 Wallpapers by Color or Tags with Every Wallpaper Being Designed for Ultrawide Displays!</h1>
  <%= link_to "See All Newiest Wallpapers",wallpapers_path,class:"home_link"%>
</div>
<h1 id="home_h1">Select a Specfic Color Below!</h1>

<div class="parallax">

  <div class="owl-carousel owl-theme">
    <div> <div class="owl_text">BLACK</div><%= link_to (image_tag("black.jpg", alt: "Example Image")),wallpapers_path(:color=>'black')%></div>
    <div> <div class="owl_text">BLUE</div><%= link_to (image_tag("blue.jpg", alt: "Example Image")),wallpapers_path(:color=>'blue')%></div>
    <div> <div class="owl_text">BROWN</div><%= link_to (image_tag("brown.jpg", alt: "Example Image")),wallpapers_path(:color=>'brown')%></div>
    <div> <div class="owl_text">GREEN</div><%= link_to (image_tag("green.jpg", alt: "Example Image")),wallpapers_path(:color=>'green')%></div>
    <div> <div class="owl_text">GREY</div><%= link_to (image_tag("grey.jpg", alt: "Example Image")),wallpapers_path(:color=>'grey')%></div>
    <div> <div class="owl_text">ORANGE</div><%= link_to (image_tag("orange.jpg", alt: "Example Image")),wallpapers_path(:color=>'orange')%></div>
    <div> <div class="owl_text">PURPLE</div><%= link_to (image_tag("purple.jpg", alt: "Example Image")),wallpapers_path(:color=>'purple')%></div>
    <div> <div class="owl_text">RED</div><%= link_to (image_tag("red.jpg", alt: "Example Image")),wallpapers_path(:color=>'red')%></div>
    <div> <div class="owl_text">WHITE</div><%= link_to (image_tag("white.png", alt: "Example Image")),wallpapers_path(:color=>'white')%></div>
    <div> <div class="owl_text">YELLOW</div><%= link_to (image_tag("yellow.jpg", alt: "Example Image")),wallpapers_path(:color=>'yellow')%></div>
  </div>
  <%= link_to "Ultrawide Buying Guide!",buying_guide_path,class:"home_link_2"%>
</div>
<h1 id="home_h1">The Most Used Tags!</h1>
<div class='half one'><%= link_to "NATURE",wallpapers_path(:tag=>"NATURE")%></div>
<div class='half two'><%= link_to "ARTISTIC",wallpapers_path(:tag=>"Artistic")%></div>
<div class='half three'><%= link_to "WATER",wallpapers_path(:tag=>"WATER")%></div>
<div class='half four'><%= link_to "ANIMAL",wallpapers_path(:tag=>"ANIMAL")%></div>
<div class='half five'><%= link_to "CARS",wallpapers_path(:tag=>"CARS")%></div>
<div class='half six'><%= link_to "ARCHITECTURE",wallpapers_path(:tag=>"Architecture")%></div>
<h1 id="home_h1"><%= link_to "See All Tags!", wallpaper_show_tags_path ,id:"home_h1"%></h1>
<div id="long"></div>
<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    nav:true,
    margin:10,
    responsiveClass:true,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        1000:{
            items:2
        }
    }
})
</script>
