<p id="notice"><%= notice %></p>

<h1 id="index_header"><%=@header%> Wallpapers</h1>


<% @wallpapers.each do |wallpaper| %>
  <%= render 'gallery',wallpaper: wallpaper %>
<% end %>
<br>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @wallpapers %>
  </div>
  <%= will_paginate @wallpapers, :container => false %>
</div>
